doctype html
html(lang='en')
    include ../common/head.pug
    +head("Edit Location")
    body
        header
            include ../common/navbar.pug
            +navbar()
            .container
                .row.align-items-center
                    .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                        h1 Edit Location
                        form(action="/api/location/" + location.id + "/edit", method="POST")
                            .input-group.mb-3
                                input(name="location_classroom", type="email", placeholder="Enter the label of the classroom", value=location.classroom).form-control
                            .input-group.mb-3
                                input(name="location_description", type="email", placeholder="Enter the description of the classroom", value=location.description).form-control
                            .input-group.mb-3
                                input(name="location_longitude", type="email", placeholder="Enter the longitude of the classroom", value=location.longitude).form-control
                            .input-group.mb-3
                                input(name="location_latitude", type="email", placeholder="Enter the latitude of the classroom", value=location.latitude).form-control
                            .input-group-append
                                    button(type="submit").btn.btn-success Save
        include ../common/footer.pug
        +footer()