doctype html
html(lang='en')
    include ../common/head.pug
    +head("Locations")
    body
        header
            include ../common/navbar.pug
            +navbar()
            .container
                .row.align-items-center
                    .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                        h1 locations
                        table.table 
                            thead
                                tr
                                    th(scope="col") Longitude
                                    th(scope="col") Latitude
                                    th(scope="col") Actions
                                    th(scope="col") 
                                tr
                            tbody
                                for location in locations
                                    tr(id=location.id)
                                        td
                                            span #{location.longitude}
                                        td
                                            span #{location.latitude}
                                        td
                                            a(href="/api/location/" + location.id) Details
                                        td
                                            button(onclick=`deleteLocation('${location.id}')`).btn.btn-danger Delete
        include ../common/footer.pug
        +footer()
        script(src="/javascripts/locations.js")